//
// These are the base styles for the
// UA Student Affairs Child Header.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-child-settings";

// Design the header
#sa-header-wrapper {
	background: $sa-header-wrapper-bg;
	color: $sa-header-color;
	border-bottom: $sa-header-border-bottom-width solid $sa-header-border-bottom-color;

	a {
		display: block;
		color: inherit;
	}

	#sa-header {
		overflow: visible;

		.sa-logo-wrapper {
			position: relative;
			z-index: 0;

			&:before {
				content: '';
				position: absolute;
				right: 0 - ( $column-gutter / 2 );
				top: 0;
				width: 4000px;
				height: 100%;
				background: $white;
				z-index: -1;
			}

			a {
				display: block;
				padding: 25px 0;
				position: relative;
			}

			.sa-logo {
				width: auto;
				height: $sa-header-sa-logo-height;
				margin: 0;
			}

		}

		.sa-site-title-wrapper {

			a {
				display: block;
				padding: 20px 0;
				position: relative;
				text-decoration: none;
				color: inherit;
			}

			.sa-site-title {
				font-size: 30px;
				line-height: 36px;
				text-transform: none;
				color: inherit;
				margin: 0;
			}

		}

	}

}

// Tweak stuff for main site
body.sa-main-site {

	// Remove red background
	#sa-header-wrapper {
		background: #fff;
	}

}

#sa-page-hero-image {
	background: #f8f8f8;
	height: 200px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&.has-image {
		height: 300px;
	}

}

#sa-section-header-wrapper {
	clear: both;
	overflow: hidden;
	background: #eee;
	padding: 15px 0;
	border-top: 1px solid #ddd;
	margin-top: -1px; // To cover bottom border from menu

	.columns {
		padding: 0;
		position: relative;
		z-index: 0;
	}

	#sa-section-header {
		color: #444;
		font-size: 30px;
		font-weight: 300;
		line-height: 30px;
		padding: 14px 20px;

		h1 {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			color: inherit;
			margin: 0;
			padding: 0;
			text-transform: none;
		}

		&.has-permalink {
			padding: 0;
		}

		& > a {
			display: block;
			//background: #111;
			color: inherit;
			padding: 14px 20px;
			text-decoration: none;
			//@include set-transition( background-color 500ms ease );

			&:hover {
				//background: #800; //400;
				text-decoration: underline; // @TODO make line animate out? transition some colors?
			}

		}

	}

}

// Subtract top margin if after hero image
/*#sa-page-hero-image + #sa-section-header-wrapper {
	background: none;
	padding: 0;
	margin-top: -20px;
	border: 0;

	#sa-section-header {
		background: #111;
		color: #fff;
		font-size: 23px;
		font-weight: 300;
		line-height: 23px;
		text-transform: uppercase;

		h1 {
			text-transform: uppercase;
		}

	}

}*/

body.layout-full-width,
body.layout-full-width-column {

	#sa-section-header-wrapper {

		// Remove gray bg on full width columns
		.columns {

			&:before {
				display: none;
			}

		}

	}

}

// Adjust header for size
@media #{$screen} and (min-width:800px) {

	#sa-header-wrapper {
		min-height: $sa-header-min-height;

		#sa-header {

			.columns {

				&.sa-logo-column {
					padding-right: 0;
				}

				&.sa-title-column {
					padding-left: $column-gutter;
				}

			}

			.sa-logo-wrapper {
				min-height: $sa-header-min-height;
				padding-right: ( $column-gutter / 2 );

				a {
					padding: 0;
					min-height: $sa-header-min-height;
				}

				.sa-logo {
					position: absolute;
					left: 0;
					bottom: $sa-header-bottom-spacing;
				}

			}

			.sa-site-title-wrapper {
				min-height: $sa-header-min-height;

				a {
					padding: 0;
					min-height: $sa-header-min-height;
				}

				.sa-site-title {
					position: absolute;
					left: 15px;
					bottom: $sa-header-bottom-spacing + 10px;
				}

			}

		}

	}
}