// Foundation sets a specific height
select {
	height: auto;
}

form {
	margin: 0 0 $paragraph-margin-bottom 0;

	$search-form-height: 35px;
	$search-form-select-width: 250px;
	$search-form-submit-width: 100px;
	$search-form-margin-right: 10px;
	&.search-form {
		display: block;
		padding: 0 $search-form-submit-width 0 ( $search-form-select-width + $search-form-margin-right );
		position: relative;

		input {
			font-size: 1.1em;
		}

		.select-field {
			position: absolute;
			left: 0;
			top: 0;
			width: $search-form-select-width;
			height: $search-form-height;
			margin: 0 $search-form-margin-right 0 0;
			padding: 0px 10px;
			font-size: 0.9em;
		}

		.search-field-wrapper {
			height: $search-form-height;
			position: relative;
			overflow: hidden;
			clear: both;
		}

		.search-field {
			height: $search-form-height;
			font-size: 0.9em;
			line-height: $search-form-height;
			margin: 0;
			padding: 0.5em;
			z-index: 10;
		}

		.close-search-button {
			display: none;
			background: url( '../../student-affairs-framework/images/icons/close-circle.svg' ) center center no-repeat;
			background-size: auto 18px;
			position: absolute;
			left: 0;
			top: 0;
			width: $search-form-height;
			height: $search-form-height;
			opacity: 0.6;
			cursor: pointer;
			z-index: 20;

			&:hover {
				opacity: 0.8;
			}

		}

		.search-submit {
			position: absolute;
			right: 0;
			top: 0;
			width: $search-form-submit-width;
			height: $search-form-height;
			line-height: $search-form-height;
			margin: 0;
			-webkit-appearance: none;
			border: 0;
			padding: 0;
			font-size: 0.9em;
			text-transform: uppercase;
			//text-indent: -9999px;
			//background-image: url( '../../student-affairs-framework/images/icons/magnifying-glass-white.svg' );
			//background-position: center center;
			//background-repeat: no-repeat;
			//background-size: auto 20px;
		}

		&.active {

			.search-field {
				padding-left: $search-form-height;
			}

			.close-search-button {
				display: block;
			}

		}

	}

}

#sa-content {

	form {

		&.search-bar {
			margin: 0 0 24px 0;
		}

		&.sa-form-gray {
			background: rgba( #000, 0.04 );
			padding: 20px;

			.gform_footer {
				margin-top: 20px;
				padding-top: 0;

				.gform_button {
					margin-bottom: 0;
				}

			}

		}

	}

	.gform_wrapper {
		max-width: 100%;
		border: 1px solid #ebebeb;
		padding: 20px 20px 0 20px;
		margin: 30px 0;

		form {
			margin: 0;
		}

		.gsection {
			margin: 1.8em 0;
		}

		.gform_footer {
			margin: 0;
			padding: 0;

			.gform_button {
				margin: 20px 0;
			}

		}

	}

	.gform_fields {

		.gfield  {

			&.field_description_above {

				.gfield_description {
					margin: -.25em 0 .8em 0;
					font-size: .85em;
				}

			}

			.gfield_label {
				font-weight: 600;
			}

			.gfield_time_hour {
				position: relative;

				i {
					display: block;
					position: absolute;
					right: 10%;
					top: 0;
					width: auto;
					margin: 2px 0 0 0;
				}

			}

		}

		*:first-child {
			margin-top: 0;
		}

	}

	// Always expand the button
	.gform_footer {

		.gform_button {
			width: 100%;
		}

	}

	.sa-form-section-gray {

		.gform_wrapper {
			background: rgba( #000, 0.04 );
			padding: 20px;

			.gform_footer {

				.gform_button {
					margin-bottom: 0;
				}

			}

		}

		.gform_confirmation_wrapper {
			margin: 0 0 $paragraph-margin-bottom 0;
		}

	}

}