//
// These are the base Foundation SASS settings
// for the UA Student Affairs Framework.
//
// These settings will override the default
// Foundation SASS settings.
//
// SA Framework specific settings will start with $sa-
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our framework settings
@import "../../student-affairs-framework/scss/_sa-framework-settings";

// Change any framework settings

// COLORS
$primary-color: #900;
$secondary-color: #f5f5f5;

// FONTS
//$bitter: 'Bitter', serif;

// SA Header
$sa-header-include-styles: false;
$sa-header-min-height: 125px;
$sa-header-wrapper-bg: #880000;
$sa-header-sa-logo-height: 75px;
$sa-header-color: $white;
$sa-header-bottom-spacing: 20px;
$sa-header-border-bottom-width: 1px;
$sa-header-border-bottom-color: #f2f2f2;

// MAIN AREA

// MAIN MENU
$sa-main-menu-height: 40px;
$sa-main-menu-min-height: $sa-main-menu-height;
$sa-main-menu-bg-color: #fff;
$sa-main-menu-color: #222;
$sa-main-menu-current-item-bg-color: #f8f8f8;
//$sa-main-menu-side-padding: 12px;
$sa-main-menu-font-family: $roboto;
$sa-main-menu-font-weight: 300;
$sa-main-menu-font-size: 17px;

// MAIN SUBMENU
$sa-main-submenu-bg-color: rgba(0,0,0,0.07); //#e8e8e8; //#eee;
$sa-main-submenu-padding: 0;
$sa-main-submenu-margin: 0 0 20px -20px;
$sa-main-submenu-font-family: $roboto;
$sa-main-submenu-font-weight: 300;
$sa-main-submenu-font-size: 16px;
$sa-main-submenu-line-height: 19px;
$sa-main-submenu-color: #222;
$sa-main-submenu-item-margin-bottom: 12px;
$sa-main-submenu-a-padding: 10px 15px 10px 18px;

// TABS
$tabs-navigation-padding: 16px;
$tabs-navigation-bg-color: #fff;
$tabs-navigation-active-bg-color: #888;
$tabs-navigation-hover-bg-color: #800;
$tabs-content-bg-color: #f8f8f8;
$tabs-content-border-color: #ebebeb;

// People
$sa-people-thumbnail-width: 150px;
$sa-people-thumbnail-height: 150px;
$sa-people-thumbnail-left: 25px;
$sa-people-thumbnail-top: 25px;