//
// These are the base styles for the
// UA Student Affairs Child Main Menu.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-child-settings";

#sa-main-menu-wrapper {
	background: $sa-main-menu-bg-color;
	min-height: $sa-main-menu-min-height;
	color: $sa-main-menu-color;
	border-bottom: $sa-header-border-bottom-width solid $sa-header-border-bottom-color;

	a {
		color: inherit;
	}

	#sa-main-menu {
		@include reset-ul();
		//display: none;
		height: $sa-main-menu-height;
		overflow: auto;
		font-size: $sa-main-menu-font-size;
		line-height: $sa-main-menu-height;

		li {
			display: block;
			float: left;
			height: $sa-main-menu-height;
			font-family: $sa-main-menu-font-family;
			font-weight: $sa-main-menu-font-weight;
			font-size: inherit;
			line-height: inherit;

			& > a {
				display: block;
				height: $sa-main-menu-height;
				font-size: inherit;
				line-height: inherit;
				padding: 0;
				border: 0;
				border-right: 1px solid $sa-header-border-bottom-color;
				text-decoration: none;
				text-transform: uppercase;
				text-align: center;

				&:hover {
					background: $sa-main-menu-current-item-bg-color;
					font-weight: 400;
					border-bottom: 2px solid #800;
				}

			}

			&:first-child {

				& > a {
					border-left: 1px solid $sa-header-border-bottom-color;
				}

			}

			.sub-menu {
				display: none;
			}

			&.current-page-ancestor,
			&.current-menu-item {

				& > a {
					background: $sa-main-menu-current-item-bg-color;
					font-weight: 400;
					border-bottom: 2px solid #800;
				}

			}

			&.highlight {

				& > a {
					background: rgba( #000, 0.6);
					color: #fff;
				}

			}

		}

	}
	
	// Show home icon
	$sa_main_menu_home_icon_width: 16px;
	$sa_main_menu_home_icon_left_padding: 12px;
	$sa_main_menu_home_icon_right_padding: 12px;
	#sa-main-menu-home {
		display: none;
		position: absolute;
		left: ( $column-gutter / 2 ) - $sa_main_menu_home_icon_width - $sa_main_menu_home_icon_left_padding - $sa_main_menu_home_icon_right_padding;
		top: 0;
		width: $sa_main_menu_home_icon_width + $sa_main_menu_home_icon_left_padding + $sa_main_menu_home_icon_right_padding;
		height: 100%;
		background: url( '../../student-affairs-framework/images/icons/home-black.svg' ) $sa_main_menu_home_icon_left_padding center no-repeat;
		background-size: auto $sa_main_menu_home_icon_width;
		text-indent: -9999px;
		opacity: 0.6;
		margin: 0;

		&:hover {
			opacity: 0.8;
		}

	}

	&.enable-off-canvas-menu {
		background: #444;
	}

}

#sa-main-menu-dropdown-wrapper {
	display: none;
	background: #333;
	color: #fff;
	padding: 12px 0;
	border-top: 2px solid #800;
	position: relative;
	z-index: 0;
	margin: -2px 0 0 0;
	font-size: 0.9em;
	line-height: 1;

	&:before {
		content: '';
		position: absolute;
		left: -20%;
		top: 0;
		width: 140%;
		height: 100%;
		@include set-shadow( inset 0 0 20px #222 );
		z-index: -1;
	}

	ul#sa-main-menu-dropdown {
		@include reset-ul();
		color: inherit;
		text-transform: uppercase;
		font-size: inherit;
		line-height: inherit;
		overflow: auto;

		& > li {
			float: left;
			width: 33.333333333%;

			a {
				display: block;
				color: inherit;
				margin: 0 15px 0 0;
				height: 55px;
				text-decoration: none;
				position: relative;
				//border-bottom: 1px solid rgba( #fff, 0.2 );

				span {
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					@include set-transform( translate(0, -50%) );
					padding: 10px 15px
				}

				&:hover {
					background: rgba( #fff, 0.2 );
				}

			}

			&.menu-item-overview {
				font-weight: bold;
			}

		}
		
		ul {
			display: none;
		}

	}

}

// Always hide the dropdown on small screens
@media #{$screen} and (max-width: 1250px) {

	#sa-main-menu-dropdown-wrapper {
		display: none !important;
	}

}

// When to show the menu home icon
@media #{$screen} and (min-width: 1250px) {

	#sa-main-menu-wrapper {

		#sa-main-menu-home {
			display: block;
		}

	}

}

// When the menu opens
// @TODO figure out how to best implement with child themes
@media #{$screen} and (min-width: $sa-off-canvas-main-menu-breakpoint) {

	// If off canvas menu is open...
	html:not(.off-canvas-menu-open) {

		#sa-main-menu-wrapper {
			background: $sa-main-menu-bg-color !important;
		}

	}

}

#sa-submenu {
	@include reset-ul();
	//background: $sa-main-submenu-bg-color;
	padding: $sa-main-submenu-padding;
	font-family: $sa-main-submenu-font-family;
	font-weight: $sa-main-submenu-font-weight;
	font-size: $sa-main-submenu-font-size;
	line-height: $sa-main-submenu-line-height;
	color: $sa-main-submenu-color;
	margin: $sa-main-submenu-margin;

	a {
		display: block;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}

	& > li {
		text-transform: uppercase;
		margin: 0; //0 0 $sa-main-submenu-item-margin-bottom 0;
		padding: 0;
		border-bottom: 1px solid #ebebeb;

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}

		a {
			padding: $sa-main-submenu-a-padding;
		}

		& > a {
			position: relative;

			&:before {
				display: none;
				font-family: dashicons;
				content: "\f345";
				position: absolute;
				right: 8px;
				top: 50%;
				margin: -10px 0 0 0;
				color: #ebebeb;
			}

			&:hover {
				&:before {
					display: block;
				}
			}

		}

		&.current,
		&.current-menu-item {
			& > a {
				background: #f8f8f8;
				font-weight: 400;
				padding-right: 20px;
				//font-size: 1.1em;

				&:before {
					display: block;
					color: #222;
				}

			}

		}

		&.current-menu-parent {
			& > a {
				font-weight: 600;
			}
		}

	}

	li {
		/*font-family: $sa-main-menu-font-family;
		font-weight: $sa-main-menu-font-weight;
		font-size: inherit;
		line-height: inherit;

		& > a {
			display: block;
			height: $sa-main-menu-height;
			font-size: inherit;
			line-height: inherit;
			padding: 0 $sa-main-menu-side-padding;
			border: 0;
			border-right: 1px solid $sa-header-border-bottom-color;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;*/
	}

	ul {
		@include reset-ul();
		font-size: inherit;
		line-height: inherit;
		margin: 5px 0 10px 25px;
		font-size: $sa-main-submenu-font-size - 1;

		& > li {
			text-transform: none;
			margin: 0;
			border-left: 1px solid rgba(0,0,0,0.1);

			a {
				padding: 4px 10px 7px 15px;
			}

			&:hover {
				border-left-color: rgba(0,0,0,0.3);
			}

			&.current,
			&.current-menu-item {
				font-weight: 500;
				border-left-color: rgba(0,0,0,0.8);
			}

		}

	}

}