//
// These are the base styles for the
// UA Division Student Affairs Child Theme.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our child settings
@import "_sa-child-settings";

// Include our framework mixins
@import "../../student-affairs-framework/scss/_sa-framework-mixins";

// Normalize/reset everything
@import '../../../foundation/scss/normalize';

// Include the framework base styles
@import "../../student-affairs-framework/scss/sa-framework";

// Include the header styles
@import "_sa-child-header";

// Include the main menu styles
@import "_sa-child-main-menu";

// Include the form styles
@import "_sa-child-forms";

#sa-wrapper,
#sa-inside-wrapper {
	min-height: 0;
}

a {

	&.has-icon {
		text-decoration: none;

		span {
			text-decoration: underline;
		}

		.dashicons {
			text-decoration: none;
		}

	}

}

// When we use dashicons
.dashicons {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

// Buttons
.button {

	&.secondary {
		background-color: $secondary-color;
		color: #222;

		&:hover {
			background-color: darken( $secondary-color, 5% );
		}

	}

}

// Tabs
.tabs {
	border-bottom: 3px solid #888;
	padding-left: 10px;

	.tab-title {

		&:not(.active) {

			a {
				margin-top: 0;
				padding-bottom: $tabs-navigation-padding;
				@include set-transition( margin-top 500ms ease, padding-bottom 500ms ease );

				&:hover {
					color: #fff;
					margin-top: -5px;
					padding-bottom: $tabs-navigation-padding + 5px;
				}

			}

		}

		&.active {

			a {
				//border: 1px solid $tabs-content-border-color;
				border: 0;
				font-weight: 600;
				text-decoration: none;
				color: #fff;
			}

		}

	}

	&.sa-directory-tabs {
		margin: 0 0 30px 0 !important;
	}

}

// Tab Content
.tabs-content {
	background: $tabs-content-bg-color;
	border: 1px solid $tabs-content-border-color;
	padding: 20px 10px 20px 30px;
	margin-top: -1px;

	.content {
		margin: 0;
		padding: 0;

		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}

	}

}

// Student Affairs Items
.sa-items {
	margin-top: 25px;

	.sa-item {
		border: 1px solid #ebebeb;
		border-top: 3px solid #800;
		margin: 0 0 20px 0;
		padding: 20px 20px 0 20px;
		position: relative;

		.item-title {
			font-size: 1.4em;
			margin: 2px 0 7px 0;

			a {
				//text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		// If the item has an image, wrap with header
		.item-header {

			a {
				display: block;
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}

			}

			img {
				margin: 0;
				border-bottom: 3px solid $primary-color;
			}

			.item-title {
				padding-top: 15px;
				padding-bottom: 0;
				margin: 0;
			}

		}

		&.has-header-img {
			border-top: 1px solid #ebebeb;
		}

		p {
			font-size: .95em;
			line-height: 1.7;
		}

		.item-content {
			overflow: auto;

			/*> *:last-child {
				margin-bottom: 0;
			}*/

		}

		.item-details {
			@include  reset-ul();
			margin-bottom: $paragraph-margin-bottom;

			a {
				color: inherit;
			}

			// If we have an icon, tweak the <a>
			.has-icon {

				a {
					text-decoration: none;

					.a-label {
						text-decoration: underline;
					}

				}

				&.instagram {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						left: 3px;
						top: 8px;
						background: url('../../student-affairs-framework/images/icons/instagram-black.svg') 0 0 no-repeat;
						background-size: auto 14px;
						width: 20px;
						height: 14px;
						opacity: 0.9;
					}

				}

			}

			.dashicons {
				font-size: inherit;
				//line-height: 1.3em;
				width: 20px;
				margin: 0 3px 0 0;

				&.dashicons-location {
					font-size: 1.3em;
					line-height: 1.5em;
				}

			}

			&.item-bottom-details {
				background: rgba( #000, 0.04 );
				color: #222;
				margin-bottom: 0;

				.dashicons {

					&.dashicons-location {
						font-size: 1.4em;
						line-height: .9em;
					}

				}

				li {
					padding: 10px 15px;
					border-top: 1px solid rgba( #000, 0.05 );
					font-size: 0.85em;
					line-height: 1.2;

					&.has-a {
						padding: 0;

						a {
							display: block;
							padding: 10px 15px;
							text-decoration: none;

							.a-label {
								text-decoration: underline;
							}

							&:hover {
								background: rgba( #000, 0.03 );
							}

						}

					}

				}

			}

		}

		.item-bottom-button {
			border-top: 1px solid rgba( #000, 0.05 );
			text-decoration: underline;
			margin: 0;
		}

		.sa-social-media-grid {
			@include reset-ul();
			background: rgba( #000, 0.4 );
			color: #fff;

			li {
				border-left: 1px solid rgba( #000,0.2 );

				a {
					display: block;
					padding: 5px 0;
					text-align:center;
					color: inherit;
					position: relative;
					text-decoration: none;

					.dashicons {
						margin: 0;
						font-size: 1.4em;
						line-height: 1;
						width: auto;
						height: auto;
						vertical-align: middle;
					}

					&:hover {
						background: rgba( #000,0.5 );
					}

				}

				&.instagram {

					a {
						background-image: url('../../student-affairs-framework/images/icons/instagram-white.svg');
						background-position: center center;
						background-repeat: no-repeat;
						background-size: auto 19px;
					}

				}

				&:first-child {
					border-left: 0;
				}

			}

		}

		&.has-header-img,
		&.has-bottom-button,
		&.has-bottom-details {
			padding: 0;

			.item-title,
			.item-content {
				padding-right: 15px;
				padding-left: 20px;
			}

			.item-title {
				padding-top: 15px;
			}

		}

		&.has-thumb {
			padding-left: 200px;
			background-size: 200px auto;
			background-repeat: no-repeat;
			background-position: 0 0;

			.item-title,
			.item-content {
				padding-left: 20px;
			}

			.item-bottom-button {
				text-align: left;
				padding-left: 20px;
			}

		}

		&.unveil {

			li {

				.sa-item {
					opacity: 0.5;
					transition: opacity .3s ease-in;

					img {
						background: rgba(0, 0, 0, 0.07);
					}

				}

			}

		}

		/*&:hover {
			@include set-shadow( 0px 0px 11px 0px #eee );
			margin: -3px;

			.item-header {

				.item-title {
					padding-left: 17px;
					padding-right: 17px;
				}

			}

			p {
				padding-right: 17px;
				padding-left: 17px;
			}

			.item-details {

				li {
					padding-left: 17px;
					padding-right: 17px;

					&.has-a {
						padding: 0;

						a {
							padding-left: 17px;
							padding-right: 17px;
						}

					}

				}

			}

		}*/

		> *:first-child {
			margin-top: 0;
		}

		/*> *:last-child {
			margin-bottom: 0;
		}*/

	}

	&.sa-items-grid {

		.sa-item {
			margin: 0;

			.item-title {
				font-size: 1.2em;
				line-height: 1.2;
				font-weight: 500;
			}

		}

	}

}

#sa-inclusion-grid {
	margin-top: 30px;
}

.sa-content-post {

	&.page {

		// For the page sections
		&.is-sa-page-section {

			// Make the first paragraph bigger
			& > p:first-child {
				font-family: $roboto;
				font-size: 1.4em;
				line-height: 1.6;
				font-weight: 400;
			}

		}

	}

	// On specific pages, style their first paragraph more prominently
	// 1415 = inclusion page
	// @TODO need to make this more specific because these IDs could be on any site
	&.post-1415 {

		// For the page sections
		&.is-sa-page-section {

			// Style the first paragraph
			& > p:first-child {
				background: #eee;
				text-align: center;
				margin: 0 -20px 38px -20px;
				padding: 35px
			}

		}

		.report-violation-button {
			margin-top: -8px;
			margin-bottom: 20px;
		}

	}

}

iframe {

	// When embedding Qualtrics forms
	&.qualtrics {
		border: 1px solid #ebebeb;
		padding: 20px 20px 0 20px;
	}

}

// Google search results
// Stylize google search results
.gsc-control-cse {

	.gsc-results {

		.gsc-webResult.gsc-result,
		.gsc-results .gsc-imageResult {
			border: 1px solid #ebebeb !important;
			border-top: 2px solid #800 !important;
		}

	}

}

.sa-tweets {
	@include reset-ul();

	.tweet {
		display: block;
		//background: rgba( $twitter-blue, 0.2 );
		list-style: none;
		margin: 0;
		border: 0;
		padding: 0;
		//border-right: 2px solid #aaa;
		text-align: left;
		color: #000;

		a {
			color: #000;
		}

		/*.header {
			display: block;
			vertical-align: middle;
			font-size: 0.9em;
			line-height: 1.3;
			position: relative;

			a {
				display: block;
				text-decoration: none;
			}

			.profile-image {
				display: inline-block;
				vertical-align: middle;
				max-width: 40px;
				height: auto;
				margin: 0 8px 0 0;
				border: 0;
			}

			.handle {
				display: inline-block;
				vertical-align: middle;

				.full-name {
					display: block;
					font-weight: bold;
				}

				.user-name {
					display: block;
					font-weight: normal;
					opacity: 0.8;
				}

				&:hover {

					.full-name {
						text-decoration: underline;
					}

				}

			}

			.created {
				display: block;
				position: absolute;
				right: 0;
				top: 4px;
				font-size: 80%;
				opacity: 0.6;

				&:hover {
					text-decoration: underline;
				}

			}

		}*/

		.tweet-photo {
			height: 150px;
			background-position: right center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			margin: -20px -20px 13px -20px !important;

			a {
				display: block;
				height: 150px;
			}

		}

		.text {
			display: block;
			padding: 0;
			font-size: 0.9em;
			line-height: 1.5
		}

		.footer {
			display: block;
			vertical-align: middle;
			font-size: 0.9em;
			line-height: 1.3;
			position: relative;
			padding: 8px 0 0 0;

			a {
				display: block;
				text-decoration: none;
			}
			
			.handle {
				display: block;
				font-weight: $font-weight-semibold;

				.dashicons {
					font-size: 1.25em;
					line-height: 1;
					margin: 0 2px 0 0;
				}
				
			}
			
		}

		.retweet {
			display: block;
			font-size: 80% !important;
			line-height: normal!important;
			color: rgba( #000, 0.7 );
			padding: 5px 0 0 0;
			text-decoration: none;

			.retweeted-by {
				background: url( '../images/retweet.jpg' ) 0 center no-repeat;
				padding: 0 0 0 24px;
			}

			&:hover {

				.full-name {
					text-decoration: underline;
				}

			}

		}

	}

}

#sa-content {
	padding-top: 35px;
	padding-bottom: 30px;

	.type-stories {

		.story-type {
			display: block;
			color: rgba(0,0,0,0.7);
			text-transform: uppercase;
		}

		.page-title {
			text-transform: none;
			font-weight: 400;
			margin-bottom: .5em;

			span {
				display: block;
			}

			.story-colon {
				display: none;
			}

			.story-subtitle {
				font-size: 0.7em;
				font-weight: 300;
			}

			& + .story-published,
			& + .story-byline {
				margin-top: -1em;
			}
			
		}

		.story-details {
			display: block;
			margin: -1em 0 1.8em 0;
			color: rgba( #000, 0.8 );
			font-size: .9em;

			.story-detail {
				display: inline;
				padding: 0 0 0 5px;

				&:before {
					content: '-';
					padding-right: 5px;
				}

				&:first-child {
					padding-left: 0;

					&:before {
						content: '';
						padding: 0;
					}

				}

			}

			.story-published {
				font-style: italic;
			}

			.story-byline-notes {
				display: block;
				padding-left: 0;
				margin-top: 3px;
				font-style: italic;

				&:before {
					content: '';
					padding: 0;
				}

			}

		}

		.stories-footer {
			font-style: italic;
			border-top: 1px solid rgba(0,0,0,0.3);
			margin-top: 35px;
			padding-top: 30px;
		}

	}

}

#sa-stories {

	.sa-story {
		margin: 0 0 25px 0;

		.story-title {
			color: inherit;
		}

		.story-details {
			display: block;
			margin: -5px 0 0.7em 0;
			color: rgba( #000, 0.8 );
			font-size: .9em;

			.story-detail {
				display: inline;
				padding: 0 0 0 5px;

				&:before {
					content: '-';
					padding-right: 5px;
				}

				&:first-child {
					padding-left: 0;

					&:before {
						content: '';
						padding: 0;
					}

				}

			}

			.story-published {
				font-style: italic;
			}

		}

		&.has-side-image {

			.story-wrapper {
				position: relative;
				min-height: 145px;
				padding-left: 167px;
			}

			.story-image {
				position: absolute;
				left: 0;
				top: 5px;
				width: 150px;
				height: 140px;
			}

			.story-title {
				margin-top: 0;
			}

		}

	}

}

#sa-main {
	padding: 0 0 20px 0;
	overflow-y: hidden;

	.type-tribe_events {

		.tribe-events-organizer {
			display: none;
		}

	}

	.sa-sidebar {
		padding-top: 20px;
		padding-bottom: 20px;

		.sidebar-item {
			margin: 20px 0 0 -20px;
			border: 1px solid #ebebeb;
			border-top: 3px solid #800;
			padding: 20px;
			font-size: 0.9em;
			line-height: 1.5;

			a, p {
				font-size: inherit;
				line-height: inherit;
			}

			*:first-child {
				margin-top: 0;
			}

			*:last-child {
				margin-bottom: 0;
			}

			.widget-details {
				@include  reset-ul();
				background: rgba( #000, 0.04 );
				color: #222;
				margin: 15px -20px -20px -20px;

				a {
					display: block;
					color: inherit;
					padding: 15px 20px;
					text-decoration: none;

					.a-label {
						text-decoration: underline;
					}

					&:hover {
						background: rgba( #000, 0.03 );
					}

				}

				.dashicons {
					font-size: inherit;
					line-height: 1.3em;
					width: 20px;
					margin: 0 3px 0 0;

					&.dashicons-location {
						font-size: 1.4em;
						line-height: .9em;
					}

				}

				li {
					font-size: 0.85em;
					line-height: 1.2;
					border-top: 1px solid rgba( #000, 0.05 );
				}

				a {
					text-decoration: none;

					.a-label {
						text-decoration: underline;
					}

				}

				&.tribe-events-widget-details {

					.dashicons {
						font-size: 1.2em;
						line-height: 1em;
					}

				}

			}

		}

		.sidebar-header {
			text-transform: uppercase;
			font-size: 15px;
			line-height: 17px;
			color: rgba(0,0,0,0.7);
			margin: -2px 0 15px 0 !important;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

			&.tweets-header {
				margin: 0 0 8px 0!important;
			}

		}

		&.sa-left-sidebar {
			position: relative;
			z-index: 0;

			/*&:before {
				content: '';
				background: #f8f8f8;
				//border-right: 1px solid #f2f2f2;
				position: absolute;
				right: ( $column-gutter / 2);
				top: 0;
				width: 2000px;
				height: 5000px;
				z-index: -1;
			}*/

		}

		.tribe-events-adv-list-widget {

			.type-tribe_events {
				margin: 0 0 10px 0;

				.tribe-mini-calendar-event {
					padding: 0;
					
					.list-info {
						margin: 0;

						.tribe-events-title,
						.entry-title {
							margin-bottom: 5px;
						}

						.tribe-events-location {
							display: none;
						}

					}
					
					.vcard {
						display: none;
					}
					
					&:last-child {
						border-bottom: 0;
					}
					
				}

			}
			
		}

	}

	&.has-sidebar {

		#sa-content {
			padding-top: 38px;
		}

	}

	&.has-left-sidebar {

		#sa-content {
			padding-left: 35px;
		}

	}

	&.has-right-sidebar {

		#sa-content {
			padding-right: 35px;
		}

	}

}

// People stuff
#sa-people,
#sa-people-listing {
	margin-top: 20px;

	.person {
		position: relative;
		padding-bottom: 25px;
		padding-left: $sa-people-thumbnail-width + ( $sa-people-thumbnail-left * 2 );
		min-height: $sa-people-thumbnail-height + ( $sa-people-thumbnail-top * 2 );

		.thumbnail {
			position: absolute;
			left: $sa-people-thumbnail-left;
			top: $sa-people-thumbnail-top;
			width: $sa-people-thumbnail-width;
			height: $sa-people-thumbnail-height;
		}

		// Only show for students
		.person-affiliation {
			display: none;
			text-transform: uppercase;
			font-size: 1em;
			line-height: 1;
			font-weight: 300;
			color: rgba(#000,0.5);
			margin: -3px 0 10px 0;
		}

		.person-position,
		.person-departments {
			display: block;
			font-family: $roboto;
			font-size: 1.2em;
			line-height: 1.3;
			font-weight: 300;
			margin: -7px 0 15px 0;
		}

		.person-departments {
			margin-top: -13px;
		}

		.person-details {
			@include reset-ul();

			.person-detail {
				font-size: 1em;
				line-height: 1.8;
				position: relative;
				padding-left: 24px;

				.dashicons {
					position: absolute;
					left: 0;
					top: 0;
				}

			}

		}

		.person-content {
			margin-top: 10px;

			> *:last-child {
				margin-bottom: 0;
			}

		}

		&.student {
			background: rgba(#000,0.04);

			.person-affiliation {
				display: block;
			}

		}

	}

}

#sa-people-load-more {
	display: none;
}

// For medium up screens
@media #{$medium-up} {

	// People stuff
	#sa-people,
	#sa-people-listing {

		.person {

			// Only show for students
			.person-affiliation {
				display: none;
				position: absolute;
				right: 24px;
				top: 24px;
				margin: 0 0 20px 20px;
			}

		}

	}

}
