//
// These are the base styles for the
// UA Student Affairs events.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

#tribe-events-pg-template {
	max-width: none;
	width: 100%;
}