//
// These are the base styles for the
// UA Division Student Affairs Child Theme home page.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our child settings
@import "_sa-child-settings";

// Include our framework mixins
@import "../../student-affairs-framework/scss/_sa-framework-mixins";

#sa-page-hero-image {
	height: 200px !important;
	//border-top: 1px solid #ccc;
}

#sa-main {
	padding: 40px 0 0 0;
	overflow: visible;
	position: relative;

	.block {
		float: left;
		background-color: #003366;
		position: relative;
	}

}

#sa-front-page-tagline-wrapper {
	margin: -90px 0 40px 0;

	#sa-front-page-tagline {
		background: rgba( 0,0,0,0.8 );
		color: #fff;
		padding: 18px 30px 23px 30px;
		text-align: center;
		font-size: 29px;
		line-height: 40px;
		font-weight: 300;

		strong {
			font-weight: 400;
		}

		/*.bigger {
			//font-size: 42px;
			font-weight: 600;
			font-style: italic;
		}*/

	}

}

#sa-promo-wrapper {
	margin: 0 0 35px 0;

	#sa-promo {

		li {
			padding-top: 0;
			padding-bottom: 0;
		}

		.promo-item {
			margin: 0 0 35px 0;

			.item-header {

				a {
					text-decoration: none;

					&:hover {

						.item-title {
							text-decoration: underline;
						}

					}

				}

				img {
					margin: 0 0 10px 0;
				}

				.item-title {
					font-family: $roboto;
					font-size: 1.3em;
					line-height: 1.3em;
					margin: 0 0 2px 0;
					color: inherit;
				}

			}

			.item-content {
				font-size: 1em;
				line-height: 1.5;
				font-weight: 300;

				p {
					font-size: inherit;
					line-height: inherit;
					font-weight: inherit;
				}

				*:last-child {
					margin-bottom: 0;
				}

			}

		}

	}

}

#sa-front-page-text {
	margin: 0 0 20px 0;
}

#sa-social-media-buttons {
	margin: 0 0 30px 0;

	.row {

		.columns {
			padding: 0 10px;
		}

	}

	.social-media-button {
		display: block;
		background: rgba(0,0,0,0.6);
		color: #fff;
		text-align: center;
		margin: 0 0 10px 0;
		padding: 6px 10px 10px 10px;
		font-size: 1.2em;
		line-height: 1.5;
		text-decoration: none;

		.dashicons {
			font-size: 1.3em;
			line-height: 1.25;
			margin: 0 6px 0 0;

			&.dashicons-twitter {
				margin-right: 10px;
			}

		}

		&.facebook {

			&:hover {
				background: $facebook-blue;
			}

		}

		&.twitter {
			&:hover {
				background: $twitter-blue;
			}
		}

		&.instagram {

			.dashicons-instagram {
				position: relative;
				line-height: inherit;

				&:before {
					content: '';
					display: block;
					background: url('../../student-affairs-framework/images/icons/instagram-white.png') 0 center no-repeat;
					background-size: auto 20px;
					width: 20px;
					height: 20px;
					vertical-align: top;
					position: absolute;
					left: 0;
					top: 50%;
					margin: -5px 0 0 0;
				}

			}

		}

	}

}

#sa-stories {

	.sa-story {

		.story-category {
			display: block;
			text-transform: uppercase;
			opacity:0.8;
			margin: 0 0 8px 0;
			font-size: 1em;
			line-height: 1;
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

		}

		.story-header {

			a {
				text-decoration: none;

				&:hover {

					.story-title {
						text-decoration: underline;
					}

				}

			}

			.story-image {
				margin: 0 0 10px 0;
			}

			.story-title {
				font-size: 1.3em;
				line-height: 1.3em;
				margin: 0 0 5px 0;
				color: inherit;

				.subtitle {
					display: block;
					font-weight: 300;
				}

			}

		}

		.story-content {
			font-size: 1em;
			line-height: 1.5;
			font-weight: 300;

			p {
				font-size: inherit;
				line-height: inherit;
				font-weight: inherit;
			}

			*:last-child {
				margin-bottom: 0;
			}

		}

		&.office-hours {

			.story-category {
				margin-bottom: 10px;
			}

		}

	}

	.more-stories {
		display: block;
		text-transform: uppercase;
		font-size: 0.9em;
		line-height: 1;
		font-weight: 600;
		text-decoration: none;

		.dashicons {
			width: auto;
			height: auto;
		}

		&:hover {

			.a-label {
				text-decoration: underline;
			}

		}

	}

}

#otob-wrapper {
	background: #800;

	#otob {
		min-height: 50px;
		//position: relative;

		/*&:before {
			content: '';
			background: #540000;
			position: absolute;
			left: 0;
			top: 0;
			width: 4000px;
			height: 100%;
		}*/

	}

}

#sa-social-media-grid-wrapper {

	#sa-social-media-grid {
		overflow: auto;

		img {
			display: block;
			margin: 0;
		}

		.grid-item {
			float: left;
			width: 20%;
			height: 300px;
			position: relative;

			&.twitter {

				.tweet {
					position: absolute;
					left: 0;
					top: 50%;
					@include set-transform( translateY(-50%) );
					width: 100%;
					text-align: center;
					padding: 0 50px;
					font-size: 15px;
					line-height: 22px;

					.grid-item-user {
						padding: 20px 0 0 0;
						font-size: 1em;
						line-height: 1.3;
						font-weight: 600;
						color: rgba( 0, 0, 0, 0.75 );

						.dashicons {
							font-size: 1.5em;
							line-height: 0.9;
							margin: 0 5px 0 0;
						}

						a {
							text-decoration: none;
							color: inherit;
						}

					}

				}

			}

			&.instagram {
				background-position: center center;
				background-repeat: repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: 150% auto;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				.grid-item-user {
					display: block;
					background: url('../../student-affairs-framework/images/icons/instagram-white.svg') 12px center no-repeat rgba(34, 34, 34, 0.7);
					background-size: auto 18px;
					position: absolute;
					left: 0;
					bottom: 15px;
					color: #fff;
					font-size: 20px;
					line-height: 1;
					padding: 10px 15px 12px 38px;
				}

			}

		}

	}

}

#events-wrapper {
	background: rgba( #000, 0.04 );
	padding: 30px 0 36px 0px;

	.section-title {
		text-transform: uppercase;
		color: rgba( #000, 0.8 );
		margin: 0 0 15px 0;
		font-size: 1.4em;
		line-height: 1;
		font-weight: 300;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

		}

	}

	.event {

		.event-date {
			display: block;
			float: left;
			overflow: hidden;
			font-weight: 400;
			margin: 10px 5% 10px 0;
			padding: 8px 0;
			width: 15%;
			text-align: center;
			background: rgba(0,0,0,0.05);
			color: rgba(0,0,0,0.8);

			.list-dayname {
				display: block;
				font-size: 25px;
				line-height: 25px;
				text-transform: uppercase;
				width: 100%;
				text-align: center;
			}

			.list-daynumber {
				display: block;
				font-size: 20px;
				line-height: 29px;
				display: block;
				text-align: center;
				text-transform: uppercase;
				font-weight: 300;
			}

		}

		.list-info {
			margin: 10px 0;
			display: inline;
			line-height: 1;
			float: left;
			width: 80%;
		}

		.event-title {
			color: inherit;
			font-size: 1.3em;
			line-height: 1.4;

			a {
				color: inherit;
			}

		}

		.event-duration {
			display: block;
			margin: 0 0 5px 0;
			font-size: .9em;

			.recurringinfo {
				display: none;
			}

		}

		p {
			font-size: 1em;
			line-height: 1.5;
			font-weight: 300;
		}

	}

}

@media #{$medium-up} {

	#sa-page-hero-image {
		height: 500px !important;
	}

}